/* ======= Reset básico e variáveis ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    Arial,
    sans-serif;
  color: var(--corTexto);
  background: var(--corFundo);
  line-height: 1.4;
}

header {
  justify-content: space-evenly;
  height: 5.5rem;
  align-items: center;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.verde {
  color: var(--corPrimaria);
}

.logo {
  height: 2.5rem;
}

.carrinho {
  height: 2.5rem;
}


.centro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  background: url("imagens/bolsa-wallpaper.jpg")no-repeat center / cover;
  margin-top: 20px;

  p {
    margin-left: 150px;
  }

  h2 {
    margin-left: 150px;
font-size: 50px;
  }
}

  .botao {
    padding: 8px;
    width: 200px;
    background-color: rgb(7, 171, 26);
    margin-bottom: 20px;
    text-align: center;
    margin-left: 150px;

    h4{
      color: white;
    }
  }

  .fileira1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
    img {
        margin-top: 10px;
        margin-left: 20px;
        height: 300px;
        width: 300px;
    }
    h4{
      margin-left: 115px;
    }
    p{
      margin-left: 130px;
    }
  }

    .fileira2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
    img {
        margin-top: 10px;
        margin-left: 20px;
        height: 300px;
        width: 300px;
    }
    h4{
      margin-left: 90px;
    }
    p{
      margin-left: 135px;
    }
  }