/* ======= Reset básico e variáveis ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    Arial,
    sans-serif;
  color: var(--corTexto);
  background: var(--corFundo);
  line-height: 1.4;
}

header {

  justify-content:space-evenly;
  height: 5.5rem;
  align-items: center;
  display: flex;

}

nav {
    display: flex;
    justify-content: space-between;
    gap:1.5rem;

   

  }
.verde{
  color: var(--corPrimaria);
}
.logo{
  height: 2.5rem;
}

.carrinho{
  height: 2.5rem;
}


a {
  text-decoration: none;
}